#footer {
  position: absolute;
  width: 1141px;
  height: 315px;
  left: 149px;
  bottom: 0px;
}

.footer-caption {
  color: #656566;
}

.about {
  position: absolute;
  width: 106px;
  height: 17px;
  left: 0px;
  top: 55px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  text-transform: uppercase;
}

#partnership {
  position: absolute;
  width: 195px;
  height: 19px;
  left: 0px;
  top: 92px;
}

#vacancies {
  position: absolute;
  width: 75px;
  height: 19px;
  left: 0px;
  top: 121px;
}

.menu {
  position: absolute;
  width: 49px;
  height: 17px;
  left: 293px;
  top: 55px;

  /* маленькие заголовки */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* dark gray */

  color: #656566;
}

.menu-content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

#costing {
  position: absolute;
  width: 144px;
  height: 19px;
  left: 293px;
  top: 92px;
}

#services {
  position: absolute;
  width: 53px;
  height: 19px;
  left: 293px;
  top: 121px;
}

#widgets-menu {
  position: absolute;
  width: 73px;
  height: 19px;
  left: 293px;
  top: 150px;
}

#integrations {
  position: absolute;
  width: 94px;
  height: 19px;
  left: 293px;
  top: 179px;
}

#clients {
  position: absolute;
  width: 115px;
  height: 19px;
  left: 293px;
  top: 208px;
}

#cases {
  position: absolute;
  width: 50px;
  height: 19px;
  left: 489px;
  top: 92px;
}

#mails {
  position: absolute;
  width: 212px;
  height: 19px;
  left: 489px;
  top: 121px;
}

#certificates {
  position: absolute;
  width: 107px;
  height: 19px;
  left: 489px;
  top: 150px;
}

#blog {
  position: absolute;
  width: 127px;
  height: 19px;
  left: 489px;
  top: 179px;
}

#QA {
  position: absolute;
  width: 120px;
  height: 19px;
  left: 489px;
  top: 208px;
}

.contact {
  position: absolute;
  width: 86px;
  height: 17px;
  left: 1055px;
  top: 55px;

  /* маленькие заголовки */

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  /* dark gray */

  color: #656566;
}

.contact-content {
  position: absolute;
  width: 143px;
  height: 19px;
  left: 998px;
  top: 92px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  /* light text */

  color: #e4e5ea;
}

#number-contacts {
  position: absolute;
  width: 143px;
  height: 19px;
  left: 998px;
  top: 92px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #e4e5ea;
}

#telegram-contacts {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1061px;
  top: 132px;
}

#viber-contacts {
  position: absolute;
  width: 20px;
  height: 19px;
  left: 1091px;
  top: 132px;
}

#whatsapp-contacts {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1121px;
  top: 131px;
}

.address {
  position: absolute;
  width: 277px;
  height: 19px;
  left: 864px;
  top: 171px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #e4e5ea;
}

.copyright {
  position: absolute;
  width: 239px;
  height: 15px;
  left: 902px;
  top: 260px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: right;

  /* light text */

  color: #e4e5ea;
}

.confidential {
  position: absolute;
  width: 202px;
  height: 15px;
  left: 939px;
  top: 280px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: right;
  text-decoration-line: underline;

  /* light text */

  color: #e4e5ea;
}
