#header {
  position: absolute;
  width: 1140px;
  height: 73px;
  left: 150px;
  top: 46px;
}

#logo {
  position: absolute;
  width: 140px;
  height: 24px;
  left: 0px;
  top: 11px;
}

.header-text {
  position: absolute;
  width: 165px;
  height: 24px;
  left: 0px;
  top: 45px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  color: #e4e5ea;
}

.menu-important {
  position: absolute;
  width: 503px;
  height: 19px;
  left: 192px;
  top: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-important p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #e4e5ea;

  display: inline-block;
  margin-right: 30px;
}

.number {
  position: absolute;
  width: 143px;
  height: 19px;
  left: 832px;
  top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #e4e5ea;
}

#telegram {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1022px;
  top: 14px;
}

#viber {
  position: absolute;
  width: 20px;
  height: 19px;
  left: 1072px;
  top: 14px;
}

#whatsapp {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1122px;
  top: 13px;
}
