#header {
  position: absolute;
  width: 1140px;
  height: 73px;
  left: 150px;
  top: 46px;
}

#logo {
  position: absolute;
  width: 140px;
  height: 24px;
  left: 0px;
  top: 11px;
}

.header-text {
  position: absolute;
  width: 165px;
  height: 24px;
  left: 0px;
  top: 45px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  color: #e4e5ea;
}

.menu-important {
  position: absolute;
  width: 503px;
  height: 19px;
  left: 192px;
  top: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header-services {
  position: absolute;
  width: 54px;
  height: 19px;
  left: 0px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #e4e5ea;
  z-index: 1;
}

#header-widgets {
  position: absolute;
  width: 74px;
  height: 19px;
  left: 84px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* light text */

  color: #e4e5ea;
  z-index: 1;
}

#header-integrations {
  position: absolute;
  width: 95px;
  height: 19px;
  left: 188px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* light text */

  color: #e4e5ea;
}

#header-cases {
  position: absolute;
  width: 51px;
  height: 19px;
  left: 313px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* light text */

  color: #e4e5ea;
}

#header-certifications {
  position: absolute;
  width: 109px;
  height: 19px;
  left: 394px;
  top: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* light text */

  color: #e4e5ea;
}

.number {
  position: absolute;
  width: 143px;
  height: 19px;
  left: 832px;
  top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #e4e5ea;
}

#telegram {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1022px;
  top: 14px;
}

#viber {
  position: absolute;
  width: 20px;
  height: 19px;
  left: 1072px;
  top: 14px;
}

#whatsapp {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1122px;
  top: 13px;
}

@media (max-width: 320px) {
  #header {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 0px;
    top: 0px;
  }

  .fix-header {
    position: absolute;
    width: 320px;
    height: 55px;
    left: 0px;
    top: 0px;

    background: #0e1014;
    z-index: 1;
  }

  #header-services {
    position: absolute;
    width: 49px;
    height: 15px;
    left: 16px;
    top: 20px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #e4e5ea;
  }

  #header-widgets {
    position: absolute;
    width: 64px;
    height: 15px;
    left: 81px;
    top: 20px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    /* light text */

    color: #e4e5ea;
  }

  #header-integrations {
    position: absolute;
    width: 83px;
    height: 15px;
    left: 161px;
    top: 20px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #e4e5ea;
  }

  #header-cases {
    position: absolute;
    width: 44px;
    height: 15px;
    left: 260px;
    top: 20px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    /* light text */

    color: #e4e5ea;
  }

  /* Header top */

  #logo {
    position: absolute;
    width: 129.33px;
    height: 20px;
    left: 0px;
    top: 2px;
  }
  #telegram {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 176px;
    top: 0px;
  }
  #viber {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 220px;
    top: 0px;
  }
  #whatsapp {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 264px;
    top: 0px;
  }

  .header-text {
    display: none;
  }
}
