.big-text {
  position: absolute;
  width: 362px;
  height: 116px;
  left: 147px;
  top: 209px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #e4e5ea;
}

.gradient-text {
  position: absolute;
  width: 247px;
  height: 58px;
  left: 147px;
  top: 325px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;

  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.regular-text-left {
  position: absolute;
  width: 275px;
  height: 44px;
  left: 148px;
  top: 413px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #e4e5ea;
}

.regular-text-right {
  position: absolute;
  width: 291px;
  height: 44px;
  left: 999px;
  top: 224px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;

  color: #e4e5ea;
}

.gradient-span {
  background: linear-gradient(92deg, #fcb045 36.99%, #fd1d1d 100%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #e4e5ea;
}

#widgets {
  position: absolute;
  width: 101px;
  height: 22px;
  left: 1024px;
  top: 308px;
}

#widgets-content {
  position: absolute;
  width: 89px;
  height: 40px;
  left: 1036px;
  top: 336px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;

  color: #e4e5ea;
}

#dashboard {
  position: absolute;
  width: 120px;
  height: 22px;
  left: 1171px;
  top: 308px;
}

#dashboard-content {
  position: absolute;
  width: 135px;
  height: 40px;
  left: 1156px;
  top: 336px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;

  color: #e4e5ea;
}

#skype-audit {
  position: absolute;
  width: 134px;
  height: 22px;
  left: 992px;
  top: 406px;
}

#skype-audit-content {
  position: absolute;
  width: 164px;
  height: 40px;
  left: 961px;
  top: 434px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;

  color: #e4e5ea;
}

#days {
  position: absolute;
  width: 85px;
  height: 22px;
  left: 1206px;
  top: 406px;
}

#days-content {
  position: absolute;
  width: 130px;
  height: 40px;
  left: 1161px;
  top: 434px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.main-btn {
  position: absolute;
  width: 262px;
  height: 61px;
  left: 1028px;
  top: 535px;
}
#main-right-btn {
  width: 262px;
  height: 61px;

  background: #4077f3;

  color: #e4e5ea;
}

@media (max-width: 320px) {
  .main {
    position: absolute;
    width: 320px;
    height: 451px;
    left: 0px;
    top: 55px;
  }

  .big-text {
    position: absolute;
    width: 272px;
    height: 88px;
    left: 14px;
    top: 40px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #e4e5ea;
  }

  .gradient-text {
    position: absolute;
    width: 186px;
    height: 44px;
    left: 15px;
    top: 128px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
  }

  .regular-text-left {
    position: absolute;
    width: 271px;
    height: 44px;
    left: 14px;
    top: 187px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #e4e5ea;
  }

  .regular-text-right {
    position: absolute;
    width: 272px;
    height: 44px;
    left: 15px;
    top: 276px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #e4e5ea;

    text-align: start;
  }

  .container__skype-audit {
    position: absolute;
    width: 10px;
    height: 1px;
    left: 16px;
    top: 340px;
  }

  #skype-audit {
    position: absolute;
    width: 99px;
    height: 16px;
    left: 15px;
    top: 0px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #e4e5ea;
  }

  .container__widgets-content {
    position: absolute;
    width: 10px;
    height: 1px;
    left: 140px;
    top: 340px;
  }

  #widgets-content {
    position: absolute;
    width: 107px;
    height: 16px;
    left: 15px;
    top: 0px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #e4e5ea;
  }

  .container__dashboard {
    position: absolute;
    width: 109px;
    height: 16px;
    left: 16px;
    top: 370px;
  }

  #dashboard {
    position: absolute;
    width: 94px;
    height: 16px;
    left: 15px;
    top: 0px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #e4e5ea;
  }

  .container__days-content {
    position: absolute;
    width: 141px;
    height: 16px;
    left: 140px;
    top: 370px;
  }

  #days-content {
    position: absolute;
    width: 126px;
    height: 16px;
    left: 15px;
    top: 0px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #e4e5ea;
  }

  .gradient-line {
    position: absolute;
    width: 10px;
    height: 0px;
    left: 0px;
    top: 8px;

    background: linear-gradient(to right, #fcb045, #fd1d1d);
    height: 1px;
  }

  #dashboard {
    position: absolute;
    width: 94px;
    height: 16px;
    left: 15px;
    top: 0px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #e4e5ea;
  }
}
