.container {
  display: flex;
  justify-content: space-between;
}

.main-left {
  margin-top: 209px;
  float: left;
  width: 50%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.big-text {
  width: 362px;

  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.gradient-text {
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;

  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.regular-text-left {
  margin-top: 30px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #e4e5ea;
}

.main-right {
  display: flex;
  flex-direction: column;
  margin: 224px 150px 0 0;
  text-align: right; /* добавить это свойство */
}

.regular-text-right {
  width: 291px;
  text-align: right;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.gradient-span {
  background: linear-gradient(92deg, #fcb045 36.99%, #fd1d1d 100%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.grid {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.grid-element {
  flex-basis: calc(50% - 10px);
  height: 100px;
  margin: 5px;
}

.grid h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.grid p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
}

.main-right-btn {
  width: 262px;
  height: 61px;

  background: #4077f3;

  color: #e4e5ea;
}
